openapi: 3.0.0
info:
  title: Lazuardy API Documentation
  description: Dokumentasi API untuk backend Lazuardy
  version: 1.0.0
  license:
    name: Proprietary
    url: https://lazuardy.id

servers:
  - url: https://api.lazuardy.id/api
    description: Local Server

tags:
  - name: Authentication
    description: Endpoint untuk Login, Register, dan OAuth
  - name: Payment Gateway
    description: Hal-hal yang berkaitan dengan keuangan
  - name: Package
    description: Endpoint untuk daftar paket belajar
  - name: Class
    description: Endpoint untuk data kelas dan jenjang
  - name: Subject
    description: Endpoint untuk data mata pelajaran
  - name: Course Catalog
    description: Endpoint untuk filter halaman kategori kursus
  - name: User Profile
    description: Endpoint untuk profil pengguna
  - name: Notification
    description: Endpoint untuk notifikasi pengguna

paths:
  /registerOtpEmail:
    $ref: './paths/authentication.yaml#/registerOtpEmail'
  /verifyOtpRegisterEmail:
    $ref: './paths/authentication.yaml#/verifyOtpRegisterEmail'
  /forgotPasswordOtpEmail:
    $ref: './paths/authentication.yaml#/forgotPasswordOtpEmail'
  /forgotPasswordVerifyOtpEmail:
    $ref: './paths/authentication.yaml#/forgotPasswordVerifyOtpEmail'
  /forgotPasswordResetPassword:
    $ref: './paths/authentication.yaml#/forgotPasswordResetPassword'
  /auth/{provider}/redirect:
    $ref: './paths/authentication.yaml#/authProviderRedirect'
  /auth/{provider}/callback:
    $ref: './paths/authentication.yaml#/authProviderCallback'
  /login:
    $ref: './paths/authentication.yaml#/login'
  /studentRegister:
    $ref: './paths/authentication.yaml#/studentRegister'
  /tutorRegister:
    $ref: './paths/authentication.yaml#/tutorRegister'

  /banks:
    $ref: './paths/payment-gateway.yaml#/banks'
  /validateBankAccount:
    $ref: './paths/payment-gateway.yaml#/validateBankAccount'

  /getPackages:
    $ref: './paths/package.yaml#/getPackages'

  /jenjang:
    $ref: './paths/class.yaml#/getClassLevels'
  /getAllClass:
    $ref: './paths/class.yaml#/getAllClass'
  /getClassByLevel:
    $ref: './paths/class.yaml#/getClassByLevel'

  /getAllSubjects:
    $ref: './paths/subject.yaml#/getAllSubjects'
  /getSubjectByClass:
    $ref: './paths/subject.yaml#/getSubjectByClass'
  /getUniqueSubjectByLevel:
    $ref: './paths/subject.yaml#/getUniqueSubjectByLevel'

  /filterCategoryPage:
    $ref: './paths/course-catalog.yaml#/filterCategoryPage'

  /studentBiodata:
    $ref: './paths/user-profile.yaml#/studentBiodata'
  /updateStudentBiodata:
    $ref: './paths/user-profile.yaml#/updateStudentBiodata'
  /tutorBiodata:
    $ref: './paths/user-profile.yaml#/tutorBiodata'
  /updateTutorBiodata:
    $ref: './paths/user-profile.yaml#/updateTutorBiodata'
  /getTutorFile:
    $ref: './paths/user-profile.yaml#/getTutorFile'
  /updateProfilePhoto:
    $ref: './paths/user-profile.yaml#/updateProfilePhoto'

  /getAllUserNotification:
    $ref: './paths/notification.yaml#/getAllUserNotification'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    ValidationError:
      $ref: './components/responses.yaml#/ValidationError'
    ServerError:
      $ref: './components/responses.yaml#/ServerError'

  requestBodies:
    UpdateStudentBiodata:
      $ref: './components/request-bodies.yaml#/UpdateStudentBiodata'
    UpdateTutorBiodata:
      $ref: './components/request-bodies.yaml#/UpdateTutorBiodata'

  schemas:
    ClassEntity:
      $ref: './components/schemas.yaml#/ClassEntity'
    ClassLevelResponse:
      $ref: './components/schemas.yaml#/ClassLevelResponse'
    ClassListResponse:
      $ref: './components/schemas.yaml#/ClassListResponse'
    ClassByLevelResponse:
      $ref: './components/schemas.yaml#/ClassByLevelResponse'
    SubjectEntity:
      $ref: './components/schemas.yaml#/SubjectEntity'
    SubjectListResponse:
      $ref: './components/schemas.yaml#/SubjectListResponse'
    UniqueSubjectEntity:
      $ref: './components/schemas.yaml#/UniqueSubjectEntity'
    UniqueSubjectByLevelResponse:
      $ref: './components/schemas.yaml#/UniqueSubjectByLevelResponse'
    FilterCategoryPageResponse:
      $ref: './components/schemas.yaml#/FilterCategoryPageResponse'
    FilterCategoryPageData:
      $ref: './components/schemas.yaml#/FilterCategoryPageData'
    FilterCategorySubjects:
      $ref: './components/schemas.yaml#/FilterCategorySubjects'
    StudentRegisterRequest:
      $ref: './components/schemas.yaml#/StudentRegisterRequest'
    Bank:
      $ref: './components/schemas.yaml#/Bank'
    PackageItem:
      $ref: './components/schemas.yaml#/PackageItem'
    PaginationMeta:
      $ref: './components/schemas.yaml#/PaginationMeta'
    GetPackagesResponse:
      $ref: './components/schemas.yaml#/GetPackagesResponse'
    AuthSuccess:
      $ref: './components/schemas.yaml#/AuthSuccess'
    OAuthUserNew:
      $ref: './components/schemas.yaml#/OAuthUserNew'
    GenderEnum:
      $ref: './components/schemas.yaml#/GenderEnum'
    ReligionEnum:
      $ref: './components/schemas.yaml#/ReligionEnum'
    StudentEntity:
      $ref: './components/schemas.yaml#/StudentEntity'
    TutorEntity:
      $ref: './components/schemas.yaml#/TutorEntity'
    UpdateTutorBiodataRequest:
      $ref: './components/schemas.yaml#/UpdateTutorBiodataRequest'
    UpdateStudentBiodataRequest:
      $ref: './components/schemas.yaml#/UpdateStudentBiodataRequest'
    FileEntity:
      $ref: './components/schemas.yaml#/FileEntity'
    NotificationEntity:
      $ref: './components/schemas.yaml#/NotificationEntity'
    NotificationListPayload:
      $ref: './components/schemas.yaml#/NotificationListPayload'
    GetAllUserNotificationResponse:
      $ref: './components/schemas.yaml#/GetAllUserNotificationResponse'
